{% extends 'base.html.twig' %}

{% block title %} Liste des articles {% endblock %}

{% block body %}

    <h1 class="display-4 text-center my-5"> {{ title }} </h1>

  <div class="album py-5 bg-light">

    <div class="row">

        {% for data in articles %}

     

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
              
                <img src="{{ data.image }}" alt"">

                <div class="card-body">

                 <h4 class="text-center">{{ data.title }}<h4></p>

                  <p class="card-text">{{ data.content|striptags }}</p>

                  <div class="d-flex justify-content-between align-items-center">

                    <div class="btn-group">

                    <a href="{{ path('blog_show', {'id':data.id}) }}" class="btn btn-sm btn-outline-secondary">Lire la suite</a>
                  {# path permet de renvoyer sur un lien, ensuite on lui indique la route puis en 2 argument, on récupère l'id #}
                  <a href="{{ path('blog_edit', {'id':data.id}) }}" class="btn btn-sm btn-outline-secondary">Modifier</a>
                  </div>
                    <small class="text-muted">posté le {{ data.createAt|date('d/m/y') }} a {{ data.createAt|date('h:i:s')}} </small>
                  </div>
                </div>
              </div>
            </div>  

        {% endfor %}

    </div>
  </div>

{% endblock %}
